[tool.poetry]
name = "ABC"
version = "0.1.0"
description = "Application for bird classification"
authors = [
    "Егор Батурин",
    "Камиль Аглиуллин",
    "Владимир Дьяков"
]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10.0, <3.11.0"

psycopg2-binary = "*"

pytest = "^7.3"
pytest-cov = "^4.0"

ruff = "*"
black = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
